<div class="container">
  <div class="well">
    <h1>Welcome To Short-Fics</h1>
    <p>Short-Fics lets you read short stories</p>
  </div>
  <img src="http://www.thisiscolossal.com/wp-content/uploads/2013/10/dulk-3.jpg" alt="">
  <div class="jumbotron">
    <p>Genres</p>
    <a class="btn btn-lg btn-primary" href='/genres/1/<%=rand(1..1)%>'>Literary</a>
    <a class="btn btn-lg btn-success" href='/genres/2/<%=rand(1..1)%>'>Speculative</a>
    <a class="btn btn-lg btn-danger" href='/genres/3/<%=rand(1..1)%>'>Romance</a>
  </div>
</div>
