<div class="container">
  <div class="well">
    <h1>Welcome To Short-Fics</h1>
    <p>Short-Fics lets you read short stories</p>
  </div>
  <div class="jumbotron">
    <p>Genres</p>
    <a class="btn btn-primary" href='/genres/1'>Literary</a>
    <a class="btn btn-success" href='/genres/2'>Speculative</a>
    <a class="btn btn-danger" href='/genres/3'>Romance</a>
  </div>
</div>
