<h1>Genres</h1>
<a class="btn btn-lg btn-primary" href='/genres/1'>Literary</a>
<a class="btn btn-lg btn-success" href='/genres/2'>Speculative</a>
<a class="btn btn-lg btn-danger" href='/genres/3'>Romance</a>
