<%if flash[:errors]%>
  <%flash[:errors].each do |error|%>
    <%=error%>
  <%end%>
<%end%>
<div class="login">
  <h1 class="text-center">Welcome to ShortFix</h1>
  <form action="/users" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <div class="form-group">
      <input class="form-control inline" type="text" name="name" placeholder="Enter Your Name">
      <input type="submit" class="btn btn-primary inline" value="Submit">
    </div>
  </form>
</div>
<script type="text/javascript">
  $('.main').css({
    'display': 'flex',
    'align-items': 'center',
    'justify-content': 'center'
  })
</script>
