<%if flash[:errors]%>
  <%flash[:errors].each do |error|%>
    <%=error%>
  <%end%>
<%end%>
<div class="login">
  <h1 class="text-center blackfat">Welcome to ShortFics</h1>
  <form action="/users" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <div class="form-group">
      <input class="form-control col-xs-12" type="text" name="name" placeholder="Enter Your Name">
    </div>
    <div class="row">
      <div class="col-xs-3">

      </div>
      <input type="submit" class="btn navy-button col-xs-6" value="Submit">
    </div>
  </form>
</div>
<script type="text/javascript">
  $('.main').css({
    'display': 'flex',
    'align-items': 'center',
    'justify-content': 'center'
  })
</script>
