p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
img{
  max-width: 100%;
}
.well{
  margin-bottom: 0px;
  text-align: center;
}
.jumbotron{
  text-align: center;
}
