p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
img{
  width: 100%;

}
.well{
  margin-bottom: 0px;
  text-align: center;
}
.jumbotron{
  text-align: center;
}
footer{
  background: #F8F8F8;
  height: 60px;  /* footer height */
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  p{
    margin-bottom: 0px;
  }
}
.navbar-toggle{
  margin-top: 15px;
}
.main{
  min-height: calc(100vh - 152px);
}

.inline{
  display: inline-block;
}
.form-control{
  width: 75%;
}

@media screen and (max-width: 462px){
  .btn{
    display: block;
    margin-bottom: 2px;
  }
}
